body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.main-title {
  color: blue;
  font-size: 40px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  color: green;
  font-weight: bold;
}

.text-input {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
}